<!-- 
<div><h1>Features
    
</h1></div>


<div class="card" style="width: 18rem;">
  
  <img src="https://i.ytimg.com/vi/lq60Vfa_U4U/maxresdefault.jpg" class="card-img-top" alt="Card image">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <h5 class="card-title">Chapter #</h5>
        <p class="card-text">Chapter 1</p>
      </div>
      <div>
        <h5 class="card-title">Items</h5>
        <p class="card-text">5</p>
      </div>
      <div>
        <h5 class="card-title">%</h5>
        <p class="card-text">75%</p>
      </div>
    </div>
  </div>
</div> -->

<!-- 
<div class = "main_div">

<h1>{{title}}</h1>

<div class="d-flex flex-wrap justify-content-around">
  <div class="card mb-4" style="width: 18rem;" *ngFor="let card of cards">
    <div class="card-body text-center">
      <img src="{{ card.image }}"  alt="Profile image" width="100">
      <h5 class="card-title">{{ card.heading }}</h5>
      <p class="card-text">{{ card.text }}</p>
    </div>
  </div>
</div>

</div> -->

<div class="main_div">
  <h1>{{title}}</h1>

  <div id="cardCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-flex flex-wrap justify-content-around">
          <div class="card mb-4" style="width: 18rem;" *ngFor="let card of cards.slice(0, 4)">
            <div class="card-body text-center">
              <img src="{{ card.image }}" alt="Profile image" class="square-img">
              <h5 class="card-title">{{ card.heading }}</h5>
              <p class="card-text">{{ card.text }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex flex-wrap justify-content-around">
          <div class="card mb-4" style="width: 18rem;" *ngFor="let card of cards.slice(4, 8)">
            <div class="card-body text-center">
              <img src="{{ card.image }}" alt="Profile image" class="square-img">
              <h5 class="card-title">{{ card.heading }}</h5>
              <p class="card-text">{{ card.text }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#cardCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#cardCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

